sudo: false
before_script:
  - echo no | android create avd --force -n test -t android-29 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
language: android
android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.2
    - android-29
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-29
jdk:
  - oraclejdk8
before_install:
  - chmod +x gradlew